
	<header>
		<nav>
			<div class="nav-wrapper black accent-3">
				<i class="fa fa-ravelry" aria-hidden="true" id=logo-icon></i>
				<a href="/" class="brand-logo" id="logo"></a>
				<ul class="right hide-on-med-and-down" id="head-nav-links">
					<li><a href="/">Login</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<main>
		<div class="container">
			<div class="row">
				<div class="col s12 z-depth-5 mainpanel">
					<div id="mainpanel-content">
						<h1 class="white-text">RAVEN - Music Enthusiasts Galaxy</h1>
                        <div class="divider"></div>
                        <div class="input-field col s6">
							<h5>Spotify name: (Required)</h5>
							<i class="material-icons prefix">account_circle</i>
							<input type="text" class="validate" placeholder="Account name" id="userName">
						</div>

						<div class="input-field col s6">
							<h5>Email: (Required)</h5>
							<i class="material-icons prefix">picture_in_picture</i>
							<input type="text" class="validate" placeholder="Email Here" id="userEmail">
                        </div>
                        
                        <div class="input-field col s6">
							<h5>Password: (Required)</h5>
							<i class="material-icons prefix">account_circle</i>
							<input type="text" class="validate" placeholder="Password" id="userPassword">
                        </div>
                        

						<h4 class="white-text">A community where taste in music is all you need to find a connection</h4>
						{{!-- <a href="/login"> --}}
							<button class="btn waves-effect waves-light theButton" name="action">Log in<i class="material-icons right"></i>
							</button>
						{{!-- </a> --}}
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer class="page-footer black accent-3">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text"></h5>
					<p class="grey-text text-lighten-4">Team: Robert, Mal, Jon, Sushi</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Links</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="https://developer.spotify.com/documentation/web-api/">fueled by SPOTIFY API</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				© 2019 Team 1
				<a class="grey-text text-lighten-4 right" href="https://github.com/LRG3/Project-2">Git Code</a>
			</div>
		</div>
    </footer>

	