<form>
    <div class="spotifyForm">
      <label for="ArtistName"></label>
      <input type="name" class="artistName" id="artistName" placeholder="Artist Name Here">
    </div>
    <div class="spotifyForm">
      <label for="SongName"></label>
      <input type="name" class="songName" id="songName" placeholder="Song Name">
    </div>
    <button type="submit" class= "ugly btn btn-primary">Submit</button>
 </form>

 <div class="bigBird container">
      <!-- Content here -->
      <p></p>
    </div>
{{info}}

    <footer class="page-footer green accent-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text"></h5>
                    <p class="grey-text text-lighten-4">Team: Robert, Mal, Jon, Sushi</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="/api/xboxapi">fueled by XBOX API</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2019 Robert's Rascals
                <a class="grey-text text-lighten-4 right" href="https://github.com/LRG3/Project-2">Git Code</a>
            </div>
        </div>
   </footer>