body,h1 {font-family: "Raleway", sans-serif}
h1, h2, h3, h4, h5, h6 {
  color: white
}

body, html {
 height: 100%;
 background-image: URL("../img/background.jpg") ;
 background-image: stretch;
 min-height: 100%;
 background-position: center;
 background-size: cover;
}

.spotifyForm, .ugly {
 margin-left: 200px;
}

.theName {
  text-align: center;
  background-color: rgba(46, 43, 43, 0.5);
  border-radius: 25px;
  margin-top: 5%;
  padding: 5px;
}
.bigBird {
 background-color: rgba(44, 0, 44, 0.5);
 height: 100%;
}

body {
  background-color: rgba(20, 20, 20, 0.801);
}
.divider {
    margin-bottom: 100px;

}

body {
  width: 100%;
  height: 100%
}

.wholeThing {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.middle {
  align-items: center;
  height: 55%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.bottom {
  margin-top: auto;
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgba(12, 10, 10, 0.5)
}

.leftSide {
  align-items: center;
  height: 100%;
  width: 25%
}

.center {
  height: 100%;
  width: 50%;
}
.rightSide {
  height: 100%;
  width: 25%
}

button {
  color: white;
  background-color: rgba(44, 0, 44, 0.5);
  padding: 15px;
  margin-top: 3%;
}

.background {
  position: absolute;

  top: 0;
  left: 0;
  z-index: -1;
}


